extends layout

block navbar
	.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner
			.container.container-fluid
				button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='/')=topic
				.nav-collapse.collapse
					//- a(href="/vnc/vnc.html", target="_blank") NoVNC
					p.navbar-text.pull-right(style="margin:0em 0.5em 0em;")
						| Logged in as 
						a.navbar-link(href='#')=username
					a.btn.btn-info.pull-right#logoutBtn(href="/logout",style="margin:0.7em 0.5em 1em;") 
						| Logout
					a.btn.btn-success.pull-right#backBtn(href='/topics', style="margin:0.7em 0.5em 1em;") 
						i.icon-circle-arrow-left.icon-white
						| Back to Topics
					ul.nav
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| VM Sharing
								b.caret
							ul.dropdown-menu
								li
									a(href='#', onclick='VMshare()') VM1
								li
									a(href='#', onclick='VMshare()') VM2
								li
									a(href='#', onclick='VMshare()') VM3
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| Documentation
								b.caret
							ul.dropdown-menu
								li
									a(href='#') User
								li
									a(href='#') VMs
						li
							a(href='#') Help
	


block content
	.row-fluid
			.span2
				#navbar.well.sidebar-nav
					h4(style="text-align:center") Webcams
					hr
					.videos.offset2

						
			.span8
				.centerStream
					h2(style="text-align:center;line-height:350px;") Network Configuration & Video Conferencing

			.span2
				#navbar2.well.span12.sidebar-nav
					h4(style="text-align:center") Cloud Resources
					hr
					//- .span8(style="text-align:center")
					a#resourceMap.span11.btn.btn-large.btn-info Resource Map
					a#VM1.vm.span11.btn.btn-large.btn-danger(vnc=username+'-vm1')
						i.icon-hdd.icon-white
						| VM1
					a#VM2.vm.span11.btn.btn-large.btn-danger(vnc=username+'-vm2')
						i.icon-hdd.icon-white
						| VM2
					a#VM3.vm.span11.btn.btn-large.btn-danger(vnc=username+'-vm3')
						i.icon-hdd.icon-white
						| VM3

	//- .alert.alert-warning.span4
	//- 	a.close(data-dismiss='alert') ×
	//- 	strong Did you know?
	//- 	|  You can resize components from their bottom right corners!
	//- br

	.navbar-fixed-bottom
	#chatbox
		#hideShowMessages.btn.btn-warning toggle chat
		#messages
		input#chatinput(type='text', placeholder='chat...')
	script(src='/webrtc.io.js')
	script(src='/topic.js')